* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

.header-top ul li {
    list-style-type: none;
    display: inline;
}

.header-top .container {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 15px;
}

.header-top p .span-text {
    color: #a06c47;
}

.header-top ul li {
    padding-left: 15px;
}

.header-bottom ul li {
    list-style-type: none;
    display: inline;
}

.header-bottom .container {
    background-color: #1B1B1B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container #header-bottom-logo {
    font-size: 44px;
    padding-left: 60px;
}

.header-bottom ul li {
    padding-left: 44px;

}

.header-bottom button {
    margin-right: 30px;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    border-style: none;
    background-color: #c58a52;
}

.hero .container img {
    width: 100%;
    height: 800px;
}

.hero {
    background-image: url(https://images.pexels.com/photos/5709944/pexels-photo-5709944.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    height: 700px;
}

.hero .container p {
    font-size: 20px;
    position: absolute;
    top: 300px;
    left: 150px;
}

.hero .container h1 {
    font-size: 6rem;
    position: absolute;
    top: 350px;
    left: 150px;
}

.hero .container #btn-1 {
    background-color: #c58a52;
    border-style: none;
    border-radius: 10px;
    width: 180px;
    height: 55px;
    position: absolute;
    top: 620px;
    left: 150px;
}

.hero .container #btn-2 {
    background-color: #1B1B1B;
    border-style: none;
    border-radius: 10px;
    width: 180px;
    height: 55px;
    position: absolute;
    top: 620px;
    left: 350px;
}

.section {
    background-color: #121414;
    height: 800px;
    position: relative;
}


.section .container #pera-outer {
    position: absolute;
    top: 200px;
    left: 130px;
    color: #a06c47;
}

.section .container #pera-bottom {
    position: absolute;
    top: 230px;
    left: 130px;
    font-size: 45px;
}

.section .container #peragraph {
    position: absolute;
    top: 370px;
    left: 130px;
    width: 460px;
    color: rgb(156, 156, 156);
}

.section .container img {
    width: 700px;
    height: 500px;
    position: absolute;
    top: 180px;
    right: 60px;
}

.section .container p {
    width: 500px;
}

.container #card-img {
    width: 450px;
    height: 130px;
    background-color: #c58a52;
    position: absolute;
    left: 130px;
    top: 500px;
    border-radius: 10px;
    padding: 15px;
}

.container #card-img p {
    width: 100%;
    padding-left: 130px;
    line-height: 34px;
    font-weight: 800;
}

.container #card-img img {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 5px;
    left: 10px;
}